presidio-analyzer==2.2.364
presidio-ru-recognizers==0.1.0
fastapi==0.123.0
uvicorn[standard]==0.34.0
pydantic>=2.7,<3
https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.8.0/ru_core_news_lg-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
